mixin offer(data)
    +b.offer()&attributes(attributes)
        +e.__item
            +e.__number
                | 01
            +e.__title
                | Берем весь ремонт 
                br 
                | на себя
            +e.P.__info
                | Заботы по дизайну и отделке 
                
                | помещения возьмем на себя, 
               
                | останется дождаться завершения
                
                | работ и наслаждаться результатом

        +e.__item
            +e.__number
                | 02
            +e.__title
                | Мы - профессионалы 
                br
                |  своего дела
            +e.__info
                | Наши дизайнеры постоянно повышают квалификацию, посещеют курсы и тренинги а студия уже реализовала свыше 1000 дизайн-проектов

        +e.__item
            +e.__number
                | 03
            +e.__title 
                | Наши проекты 
                br
                | индивидуальны
            +e.P.__info
                | Каждый, созданный студией, интерьер - индивидуальное  и максимально продуманное решение для каждого вида помещения

        +e.__item
            +e.__number
                | 04
            +e.__title 
                | Работаем на выгодных 
                br
                | условиях
            +e.P.__info
                | Ценовая политика студии очень лояльна,  мы осуществляем контроль всего процесса работы  и получаем результат который делает клиентов счастивыми

