footer.footer
  div.container
    div.row
      ul.footer__items
        li.footer__item.col-xs-12.col-md-5.col-lg-4
          span.footer__title Барбершоп Бородинский
            p.footer__address г. Санкт-Петербург, ул. Большая Конюшенная 19/8             
              span.footer__tel-span Тел.:
              a.footer__tel(href="tel:+8125556666") +7 (812) 555-66-66

        li.footer__item.col-xs-12.col-md-10.col-lg-2
          ul.footer__social
            li.footer__social-item
              img(src="", alt="")

            li.footer__social-item
              img(src="", alt="")

            li.footer__social-item
              img(src="", alt="")

        li.footer__item.col-xs-12.col-md-4.col-lg-2
          span.development Разработано:
          a.academy-link(href="#")
        