mixin swiper-slider(data)
    +b.swiper-slider.swiper-container(id=data.id)&attributes(attributes)
        +e.wrapper.swiper-wrapper
            block

        +e.pagination.swiper-pagination

         
        
