.swiper-slider {
    &_fullpage {    
        width: 100%;
        height: auto;
        margin-right: auto;
        margin-left: auto;

        
        @include above($desktop) {
            // height: 100vh;
            // overflow: hidden;
        }

        .swiper-slide {                       
            display: flex;
            align-items: flex-start;            
            justify-content: flex-start;

            font-size: 18px;
            text-align: center;
        }

        .swiper-pagination {
            top: 50%;
            right: auto;
            left: 3%;

            display: none;

            @include above($desktop) {
                display: block;
            }
        }

        .swiper-pagination-bullets {
            position: absolute;
            z-index: 10;

            cursor: pointer;

            transform: translate3d(0,-50%,0);
        }

        .swiper-pagination-bullet {
            z-index: 10;

            display: block;
            width: rem(15);
            height: rem(15);
            margin-top: rem(10);

            border: rem(2) solid $color-1;
            border-radius: 50%;
            background: #fff;

            &-active {
                background: $color-1;
            }
        }
    }

}
