//- ===============================
//- Index Page
//- ===============================
- var index={}
- index.title = 'Barbershop'
- index.navHref = 'index.html'

//- ===============================
//- Catalog Page
//- ===============================

- var catalog={}
- catalog.title = 'Catalog'
- catalog.navHref = 'catalog.html'

