include config
include mixins

block currentpage

doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    
    // Tytle
    block title    
      title= currentPage.title
    // Styles
    block styles
      link(rel="stylesheet", href="css/style.min.css")
      link(rel="stylesheet", href="css/bootstrap.min.css")
   
  body    
    include blocks/header
    
    block content    
        
    //js in footer
    include blocks/jsinfooter

    include blocks/footer    