mixin work-steps(data)
    +b.work-steps()&attributes(attributes)
        +e.H1.__title.b-page__title
            | Этапы работы
        +e.__items
            +e.__item
                +e.__number 1
                +e.__info                    
                    +e.__item-title
                        | Консультация
                    +e.__text
                        | Обсуждаем задачи и пожелания, предлагаем варианты дизайна интерьера, оговариваем сроки реализации.

            +e.__item
                +e.__number 2
                +e.__info
                    +e.__item-title
                        | Техническое задание
                    +e.__text
                        | Составляем техническое задание. Заключаем договор, в котором прописываем все этапы проекта.

            +e.__item
                +e.__number 3
                +e.__info
                    +e.__item-title
                        | Замеры и планировка
                    +e.__text
                        | Фиксируем размеры стен, окон, плинтусов, дверных проемов  для эффективной работы

            +e.__item
                +e.__number 4
                +e.__info
                    +e.__item-title
                        | Дизайн-концепция
                    +e.__text    
                        | Создаем концепцию на основе пожеланий клиента, его образов и ощущений.  подбираем мебель.

            +e.__item
                +e.__number 5
                +e.__info
                    +e.__item-title
                        | 3D Визуализация
                    +e.__text
                        | Создаем 3d визуализацию, собираем пакет чертежей соответствующий строительным нормам..

            +e.__item
                +e.__number 6
                +e.__info
                    +e.__item-title
                        | Комплектация интерьера
                    +e.__text
                        | Подбираем мебель, отделочные материалы, светильники и текстиль. Декорируем интерьер.