extends ../template

block currentpage
  - var currentPage = index

block content
  main
    include index/haircat    
    include index/dignity
    include index/news
    include index/reviews 







