// File for scss-vars.
// For example: main colors, paddings and so on.

//COLORS

$color-1: #00203a;
$color-2: #838383;
$color-3: #fea052;
$color-4: #fea052;
$color-5: #fea052;



//FONTS

$max-tablet: '1340px';
$max-mobile: '768px';
$md-desktop: '992px';
$lg-desktop: '1200px';

$tablet: '768px';
$desktop: '1280px';
$md-desktop: '992px';
$lg-desktop: '1200px';